.draggable {
  app-region: drag;
  /* Pre-fix app-region during standardization process */
  -webkit-app-region: drag;
}

.nonDraggable {
  app-region: no-drag;
  /* Pre-fix app-region during standardization process */
  -webkit-app-region: no-drag;
}

#titleBarContainer {
  position: absolute;
  top: env(titlebar-area-y, 0);
  height: env(titlebar-area-height, var(--fallback-title-bar-height));
  width: 100%;
  background-color:#7173de;
}

#titleBar {
  position: absolute;
  top: 0;
  display: flex;
  user-select: none;
  height: 100%;
  left: env(titlebar-area-x, 0);
  width: env(titlebar-area-width, 100%);

  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

#titleBar > input {
  flex: 1;
  margin: 0.7em;
  border-radius: 0.4em;
  border: none;
  padding: 0.5em;
  align-self: center;

  font-weight: 600;
}

#titleBar > .MuiFormControl-root {
  justify-content: center;
  align-self: center;
  flex: 0.2;
  margin: 1em;
}

.App {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: env(titlebar-area-height, var(--fallback-title-bar-height));
  overflow-y: scroll;
  text-align: center;
  padding: 1em;
  margin: 0 auto;
}